body {
  background: -webkit-gradient(linear, right top, left bottom, from(#a5fecb), color-stop(40%, #20bdff), to(#5433ff));
  background: linear-gradient(to bottom left, #a5fecb 0%, #20bdff 40%, #5433ff 100%);
  font-family: gill-sans-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

form {
  padding: 40px;
}

img {
  border-radius: 5px;
  margin-bottom: 20px;
}

.loading {
  background: -webkit-gradient(linear, right top, left bottom, from(#a5fecb), color-stop(40%, #20bdff), to(#5433ff));
  background: linear-gradient(to bottom left, #a5fecb 0%, #20bdff 40%, #5433ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 40px;
}

.loading h2 {
  margin-top: 100px;
}

input,
textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 20px auto;
  padding: 25px 0 1px 5px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #000000;
}

.container-style {
  border-radius: 5px;
  background: #ffffff;
  color: #000000;
  border: none;
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-style h2 {
  padding-top: 50px;
  margin: 0;
}

.containers {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.message-cards {
  margin: 10px;
  padding: 10px;
}

@font-face {
  font-family: "adam";
  src: url(../../font/adam-400.otf);
  font-style: normal;
  font-weight: 400;
}

h1 {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-size: 45px;
}

h2 {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-size: 40px;
}

p {
  font-size: 20px;
}

::-webkit-input-placeholder {
  color: #999999 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999999 !important;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #999999 !important;
  opacity: 1;
}

::placeholder {
  color: #999999 !important;
  opacity: 1;
}

.logo {
  color: #02bfc4;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 100px;
  font-family: "adam";
}

.logo:hover {
  color: #02bfc4;
  text-decoration: none;
}

.nav-links {
  color: #ffffff;
  margin: 0 20px;
  font-family: "adam";
  font-size: 20px;
}

.nav-links:hover {
  color: lightgray;
  text-decoration: none;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar {
  margin-bottom: 100px;
}

.modal-content {
  margin-top: 200px;
}

.modal-title {
  text-transform: uppercase;
  margin-left: 95px;
  font-size: 30px;
}

.date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-date {
  border-bottom: 1px solid #999999;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.message-cards {
  margin: 10px;
  padding: 10px;
}

.landingPage-img {
  height: 70vh;
  max-width: 1800px;
  margin: 100px auto;
  background-image: url(../../../img/nightcity.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.landingPage-img div {
  background-color: black;
  padding: 40px;
  border-radius: 10px;
  opacity: 0.9;
}

.landingPage-img input {
  border: none;
  width: 90%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #00cfa5;
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

.landingPage-img h1 {
  margin-bottom: 50px;
  padding: 0 100px;
  font-size: 40px;
  color: #ffffff;
}

.btn {
  display: block;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 25px;
  color: #00cfa5;
  border: 2px solid #00cfa5;
  background: transparent;
  width: 220px;
  margin: 50px auto;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn:hover {
  color: #ffffff;
  background: #00cfa5;
  border: 2px solid #00cfa5;
  text-decoration: none !important;
}

.errors {
  width: 80%;
  color: #ffffff;
  letter-spacing: 1px;
  border: 0.5px solid #fe0000;
  border-radius: 5px;
  padding: 5px;
  background: #ff817a;
  margin: 0 auto;
  font-weight: 500;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.card {
  border-radius: 5px;
  background: #ffffff;
  color: #000000;
  border: none;
  width: 400px;
  padding: 20px;
  margin: 20px;
}

.card h3 {
  font-family: "adam";
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
}

.back-btn {
  color: #232423;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.back-btn:hover {
  text-decoration: none;
  color: #ffffff;
}

.back-arrow {
  margin-right: 5px;
}

.container-box {
  width: 80%;
  max-width: 1900px;
  height: 100vh;
  margin: 100px auto;
}

.detail-card {
  border-radius: 5px;
  background: #ffffff;
  color: #000000;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px auto;
  width: 100%;
  max-width: 1900px;
  padding: 100px 0;
}

.detail-card div {
  margin: 0 20px;
  width: 40%;
}

.detail-card h1 {
  border-bottom: 2px solid white;
  width: 70%;
  padding-bottom: 5px;
  margin: 0 auto;
}

.detail-card p {
  margin-top: 30px;
}

.detail-card img {
  width: 100%;
}

.extra-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100% !important;
  margin: 0 !important;
}

.btn-icons {
  margin: 0 10px;
}

@media only screen and (max-width: 1200px) {
  .detail-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .detail-card div {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .extra-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .extra-info p {
    margin: 10px 0;
  }
}

.border {
  border: 1px solid #000000 !important;
  border-radius: 5px;
  padding: 0 0 1px 5px;
  margin: 50px auto;
}

.file-upload {
  border: none;
}
/*# sourceMappingURL=styles.css.map */